
%stretch {
  object-fit: contain;
  height: 100%;
  max-width: 100%;
  // width: 100%;
}
%flex-common {
  display: flex;
  justify-content: center;
  background: none;
}

$border-color: #999;
$z-index_overlay: 1;
$z-index_lightbox: 10;
$z-index_close: 15;
$z-index_nav: 10;


.products {
  .cell {
    height: 150px;
    a {
      display: block;
      float: left;
      width: 100%;
      text-align: center;
    }
  }
}

.lb__overlay {
  z-index: $z-index_overlay;
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lb {
  z-index: $z-index_lightbox;
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;

  &__header {
    @extend %flex-common;
    flex-flow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid $border-color;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;

    &__close {
      position: absolute;
      right: 1rem;
      cursor: pointer;
      flex: 0 0 auto;
    }
    &__description {
      flex: 1 1 auto;
      text-align: center;
    }
  }



  &__content {
    @extend %flex-common;
    flex: 1 1 auto;
    position: relative;
    padding: 0 30px;

    &--single {
      height: 100%;
    }

    &__previous,
    &__next {
      align-items: center;
      cursor: pointer;
      z-index: $z-index_nav;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 30px;
      display: flex;
      align-content: center;
      justify-content: center;
      transition: width 0.2s, opacity 0.3s;
      font-size: 1.8rem;
      opacity: 0.5;

      &:hover {
        width: 50px;
        font-weight: bold;
        opacity: 1;
      }

    }
    &__previous {
      left: 0;
    }
    &__next {
      right: 0;
    }

    &__image {
      width: 100%;
      text-align: center;

      img {
        @extend %stretch;
        max-height: 100%;
      }
    }

    &__counter {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: #999;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 4px;
    }

  }

  &__footer {
    @extend %flex-common;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;

    &__next,
    &__previous {
      flex: 0 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &__thumbnails {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-x: hidden;
      margin: 0.5rem 0;

      &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        &.align-center {
          text-align: center;
        }

        li {
          width: 125px;
          height: 125px;
          margin: 0 1rem;
          padding: 0;
          display: inline-block;
          text-align: center;

          &.active {
            border: 2px solid #000;
          }

          img {
            cursor: pointer;
            @extend %stretch;
          }

        }
      }

    }

  }
}
