.products {
  .cell {
    height: 150px;
    a {
      display: block;
      float: left;
      width: 100%;
    }
  }
}

$z-index_overlay: 1;
$z-index_lightbox: 10;
$z-index_close: 15;
$z-index_nav: 10;

.lb-Overlay {
  z-index: $z-index_overlay;
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lb {
  z-index: $z-index_lightbox;
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;


  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: red;
    z-index: $z-index_close;
    cursor: pointer;
  }

  &__image {
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80%;
    display: flex;

    &__previous,
    &__next {
      flex: 0 0 30px;
      background: green;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: $z-index_nav;
    }
    &__previous {
      left: 0;
    }
    &__next {
      right: 0;
    }

    &__main {
      flex: 1 1 auto;
      background: red;

      img {
        background: blue;
      }
    }


  }

  &__thumbnails {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    height: 20%;
    background: pink;

    ul {
      display: flex;
      flex-direction: row;
      // justify-content: center;
      list-style: none;
      margin: 1rem;
      padding: 0;
      width: 10000px;

      li {
        width: 100px;
        height: 100px;
        margin: 0 1rem;
        background: #fff;

        &.active {
          border: 2px solid #000;
        }

        img {
          cursor: pointer;
        }

      }
    }
  }
}

img.stretch {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
