
%stretch {
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}
%flex-common {
  display: flex;
  justify-content: center;
  flex-direction: column nowrap;
}

.products {
  .cell {
    height: 150px;
    a {
      display: block;
      float: left;
      width: 100%;
      text-align: center;
    }
  }
}

$z-index_overlay: 1;
$z-index_lightbox: 10;
$z-index_close: 15;
$z-index_nav: 10;

.lb__overlay {
  z-index: $z-index_overlay;
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.lb {
  z-index: $z-index_lightbox;
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;


  &__header {
    @extend %flex-common;
    flex: 0 1 30px;
    background: cyan;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 30px;
    height: 30px;
    background: red;
    z-index: $z-index_close;
    cursor: pointer;
  }

  &__content {
    background: #ccc;
    @extend %flex-common;
    flex: 2 2 auto;

    &--single {
      height: 100%;
    }

    &__previous,
    &__next {
      flex: 0 0 30px;
      background: green;
      // height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: $z-index_nav;
    }
    &__previous {
      left: 0;
    }
    &__next {
      right: 0;
    }

    &__image {
      width: 100%;
      text-align: center;
      background: #fff;

      img {
        background: blue;
        @extend %stretch;
      }
    }


  }

  &__footer {
    @extend %flex-common;
    background: pink;
    flex: 0 1 175px;
    overflow: hidden;

    &__next,
    &__previous {
      flex: 0 0 30px;
      // height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: yellow;
    }

    &__thumbnails {
      flex: 1 1 auto;
      overflow: hidden;
      margin: 1rem;

      &__list {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 10000px;

        &.align-center {
          justify-content: center;
          width: 100% !important;
        }

        li {
          width: 125px;
          height: 125px;
          background: #fff;
          text-align: center;

          &.active {
            border: 2px solid #000;
          }

          img {
            cursor: pointer;
          }

        }
      }

    }

  }
}
