<!-- includes/head.pug -->
meta(charset='utf-8')
title HTMLWebpackPLugin with Pug
doctype html
head

body
  h1 Generated HTML

  p This HTML was generated from a pug template, using HTMLWebpackPLugin!
